@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body {
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    max-width: 1400px;
    color: grey;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

section {
    background: #EFEFEF;
    margin: 20px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.header-menu .header-menu-text {
    margin-right: 10px;
}

.header-content {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}

.header-content-img {
    max-width: 500px;
}

.header-content-img img {
    width: 100%;
}

.header-content-main-text {
    margin-right: 50px;
    position: relative;
}

.header-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    max-width: 40vw;
}

.header-content-main-text::after {
    content: '';
    height: 56%;
    border: 1px solid black;
    background: black;
    position: absolute;
    bottom: -67px;
    left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 38px;
}

.header-content-main-text {
    line-height: 2;

}

strong {
    color: black;
}

.main {
    display: flex;
    padding: 50px 70px;
    justify-content: space-between;
}

.main-img {
    max-width: 500px;
}

.main-img img {
    width: 100%;
}

.main-content {
    max-width: 40vw;
}

.main-content-title {
    position: relative;
}

.main-content-title::before {
    content: '';
    display: inline-block;
    border-top: 2px solid black;
    background: black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.main-content-icons {
    font-size: 40px;
}

.img img{
    width: 100%;
}
