@media all and (max-width: 600px) {
    .w3-right.w3-hide-small {
        display: none;
    }

    #about .w3-col.m6.w3-padding-large.w3-hide-small {
        display: none;
    }

    .w3-col.m6 {
        width: 100%;
    }

   #menu {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}